﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Todos", "AllLocation", "Location", new { area = "Admin" }, new { @class = "" })</li>
    <li>@Html.ActionLink("Países", "Country", "Location", new { area = "Admin" }, new { @class = "" })</li>
    <li>@Html.ActionLink("Estados", "States", "Location", new { area = "Admin" }, new { @class = "" })</li>
    <li>@Html.ActionLink("Cidades", "City", "Location", new { area = "Admin" }, new { @class = "" })</li>
</ul>
