﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="budPost" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" charset="iso-8859-1" content="pt-br" />
    <!--<meta http-equiv="refresh" content="30">-->
    <meta name="description" content="Sistema de Anúncios" />
    <meta name="keywords" content="Post,Anúncios,Classificados,Propagandas" />
    <meta name="author" content="João Neto" />
    <meta name="reply-to" content="joaonetoce@hotmail.com" />
    <meta name="generator" content="Visual Studio 2013" />
    
    <!--
        <script>
        var refreshTime = function () {
            var time = Number(prompt('set refresh time', 30));
            $("meta[http-equiv='refresh']").attr('content', time);
        }
    </script>
    -->

    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!--@Styles.Render("~/Content/materialize")-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="layoutCtrl">    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Post App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.Identity.IsAuthenticated && WebSecurity.UserExists(WebSecurity.CurrentUserName))
                        {
                            <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                            <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Configurações", "Settings", "Home")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            <li>
                                <a href="#">
                                    <strong style="color:white;">@User.Identity.Name</strong>
                                    @if (Roles.GetRolesForUser().Length > 0)
                                    {
                                        <strong style="color:white">(@Roles.GetRolesForUser()[0])</strong>
                                    }
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li>@Html.ActionLink("Register", "Register", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - {{myName}}</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    <!--@Scripts.Render("~/bundles/materialize-js")-->
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angularCtrl")
    @Scripts.Render("~/bundles/angularService")
    @Scripts.Render("~/bundles/angularFilters")
    @Scripts.Render("~/bundles/angularDirectives")
    @RenderSection("scripts", required: false)
</body>
</html>
