﻿@model BudPost.Models.EditDataUser
@using BudPost.Util

@{
    ViewBag.Title = "EditUser";
    SelectHelper selectList = new SelectHelper();
}

<div class="row">
    <h2>EditUser</h2>
    <h3>@ViewBag.msgAlert</h3>

    @using (@Html.BeginForm("EditUser", "DataUser", FormMethod.Post))
    {
        <div class="col-md-12">
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.DataUser.DataUserId)

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome</label>
                    @Html.TextBoxFor(m => m.DataUser.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataUser.FirstName)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Sobrenome</label>
                    @Html.TextBoxFor(m => m.DataUser.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataUser.LastName)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.DataUser.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataUser.Email)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nascimento</label>
                    @Html.TextBoxFor(m => m.DataUser.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control mask-date" })
                    @Html.ValidationMessageFor(m => m.DataUser.BirthDate)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Sexo</label>
                    @Html.DropDownListFor(m => m.DataUser.Gender, new SelectList(selectList.ListGender(), "Value", "Text"), "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataUser.Gender)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado Civil</label>
                    @Html.DropDownListFor(m => m.DataUser.Status, new SelectList(selectList.ListStatus(), "Value", "Text"), "Selecione", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataUser.Status)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>País</label>
                    @Html.DropDownListFor(m => m.DataUser.Country_CountryId, new SelectList(selectList.ListCountries(), "Value", "Text"), "Selecione um país", new { @class = "form-control selectCountry", @onchange = "LoadStates(); LoadResetCityInput();" })
                    @Html.ValidationMessageFor(m => m.DataUser.Country_CountryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado</label>
                    @Html.DropDownListFor(m => m.DataUser.State_StateId, new SelectList(selectList.ListStates(), "Value", "Text"), "Selecione um estado", new { @class = "form-control selectState active-input-location", @onclick = "LoadCities();" })
                    @Html.ValidationMessageFor(m => m.DataUser.State_StateId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Cidade</label>
                    @Html.DropDownListFor(m => m.DataUser.City_CityId, new SelectList(selectList.ListCities(), "Value", "Text"), "Selecione uma cidade", new { @class = "form-control selectCity active-input-location" })
                    @Html.ValidationMessageFor(m => m.DataUser.City_CityId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>CPF</label>
                    @Html.TextBoxFor(m => m.DataUser.CPF, new { @class = "form-control mask-cpf" })
                    @Html.ValidationMessageFor(m => m.DataUser.CPF)
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>PJ</label>
                    @Html.TextBoxFor(m => m.DataUser.PJ, new { @class = "form-control mask-pj" })
                    @Html.ValidationMessageFor(m => m.DataUser.PJ)
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <hr />
            
            @if (!Model.Phones.Equals(null))
            {
                <div class="col-md-4">
                    @for (int i = 0; i < Model.Phones.Count(); i++)
                    {
                        @Html.HiddenFor(m => Model.Phones[i].PhoneId);
                        @Html.HiddenFor(m => Model.Phones[i].DataUser_DataUserId, WebSecurity.CurrentUserId);


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo</label>
                            @Html.DropDownListFor(m => Model.Phones[i].Type, new SelectList(selectList.ListTypePhones(), "Value", "Text", Model.Phones[i].Type), "Selecione", new { @class = "form-control selectPhoneType", @onclick = "AppMaskPhone();" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Número</label>
                            @Html.TextBoxFor(m => Model.Phones[i].Number, new { @class = "form-control btn-sm inputPhoneNumber active-input-location" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        @Html.ActionLink("Remover Telefone", "RemovePhone", "DataUser", new { id = Model.Phones[i].PhoneId }, new { @class = "btn btn-danger btn-sm" })
                    </div>

                    }

                    <div class="col-md-6 enterAddPhone hidden">
                        <div class="form-group">
                            <label>Tipo</label>
                            @Html.DropDownListFor(m => m.phone.Type, new SelectList(selectList.ListTypePhones(), "Value", "Text"), "Selecione", new { @class = "form-control selectPhoneType", @onclick = "AppMaskPhone();" })
                        </div>
                    </div>

                    <div class="col-md-6 enterAddPhone hidden">
                        <div class="form-group">
                            <label>Número</label>
                            @Html.TextBoxFor(m => m.phone.Number, new { @class = "form-control btn-sm inputPhoneNumber active-input-location" })
                        </div>
                    </div>

                    <div class="col-md-12 enterAddPhone hidden">
                        <a class="btn btn-danger btn-sm buttonAddOrRemovePhone" onclick="AddOrRemovePhone();">Remover telefone</a>
                    </div>
                </div>
            } 
           </div>      
        
    <div class="col-md-12">
        <hr />                      
        <a class="btn btn-default buttonAddOrRemovePhone" onclick="AddOrRemovePhone();">Novo telefone</a>
    </div>
    
        <div class="col-md-12">
            <hr />
            <button class="btn btn-primary" type="submit">Salvar</button>
            @Html.ActionLink("Cancelar", "Settings", "Home", new { area = "" }, new { @class = "btn btn-default" })
        </div>
    }
</div>
