﻿@model BudPost.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
    
    <label>Senha</label>
    @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
    @Html.ValidationMessageFor(m=>m.Password)

    <label>Nova Senha</label>
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.NewPassword)

    <label>Confirmar Senha</label>
    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
    <br />
    <div>
        <button class="btn btn-primary" type="submit">Alterar</button>
        @Html.ActionLink("Cancelar", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
    </div>
}
<br />
<h3>@ViewBag.alterOk</h3>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}