﻿
@{
    ViewBag.Title = "ComeBack";
    //Layout = null;
}

<div>

    <h2>@ViewBag.msgAlert</h2>
    <br />
    @Html.ActionLink("Retornar para a tela de Login", "Login", "Account", new { area = "" }, new { @class = "btn btn-primary" })
</div>

