﻿
@{
    ViewBag.Title = "Exclude";
}

<h2>Deseja excluir a sua conta?</h2>

@using (@Html.BeginForm("ConfirmExclude", "Account"))
{ 
    @Html.ValidationSummary();
    <input type="submit" class="btn btn-primary" value="Excluir" />
    @Html.ActionLink("Cancelar", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
}



