﻿@model BudPost.Models.Login

@{
    ViewBag.Title = "Login";
}
<h3>@ViewBag.Message</h3>
<br />
<h2>Enter your credential Please</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <label>Login</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Nome de Usuário" })
        @Html.ValidationMessageFor(m => m.Username)
        <label>Senha</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
        @Html.ValidationMessageFor(m => m.Password)
        @Html.ActionLink("Esqueceu a senha?", "LostPassword", "Account")
        <br />
        <br />
        <button class="btn btn-primary">Login</button>
    }
</div>
