﻿@model BudPost.Models.LostPassword
@{
    ViewBag.Title = "LostPassword";
}
<h2>@ViewBag.MsgEmail</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Enviar e-mail</legend>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "exemplo@email.com" })
        @Html.ValidationMessageFor(m => m.Username)
        <br />
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </fieldset>
}