﻿@model BudPost.Models.RegisterDataUser
@using BudPost.Util

@{
    ViewBag.Title = "Register";

    SelectHelper roles = new SelectHelper();
}

<h2>Create new User</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <label>Nome</label>
        @Html.TextBoxFor(m => m.DataUser.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataUser.FirstName)

        <label>Sobrenome</label>
        @Html.TextBoxFor(m => m.DataUser.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataUser.LastName)

        <label>Email</label>
        @Html.TextBoxFor(m => m.DataUser.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataUser.Email)
        @Html.ValidationMessage("Email")

        <label>Enter Username</label>
        @Html.TextBoxFor(m => m.Register.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Register.Username)

        <label>Data de Nascimento</label>
        @Html.TextBoxFor(m=>m.DataUser.BirthDate, DateTime.Now.ToShortDateString(), new { @class = "form-control", type = "date"})
        @Html.ValidationMessageFor(m => m.DataUser.BirthDate)
        
        <label>Enter Password</label>
        @Html.PasswordFor(m => m.Register.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Register.Password)

        <label>Confirm Password</label>
        @Html.PasswordFor(m => m.Register.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Register.ConfirmPassword)

        <label>Role</label>
        @Html.DropDownListFor(m => m.Register.Role, new SelectList(roles.ListRoles(), "Value", "Text"), "Select a role", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Register.Role)

        <br />
        <button class="btn btn-primary">Cadastrar</button>
    }
</div>
