﻿@model BudPost.Models.ResetPassword
@{
    ViewBag.Title = "ResetPassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nova senha</legend>
        <label>Senha</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
                
        <label>Confirmar senha</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        
        @Html.HiddenFor(m => m.ReturnToken)
        @Html.ValidationMessageFor(m => m.ReturnToken)    
        <br />
        <input type="submit" value="Salvar" class="btn btn-primary" />

    </fieldset>

}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}