﻿
@import url("pages/DataUser/EditUser.css");

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*--------------UI---------------------*/

.ui-alert {
    background-color:#F2DEDE;
    padding: 20px;
    border-radius:5px;
    margin-top:20px;
    margin-bottom:20px;
}

.ui-alert-title {
    color: #AF4341;
    font-weight: bold;
    font-size:24px;
}

.ui-alert-message {
    color: #AF4341;
}
