﻿@model IEnumerable<BudPost.Models.Poster>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>{{appName}}</h1>
    <p class="lead">{{appDescription}}</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>
<!--ui-alert faz referência a directiva uiAlert-->


<div class="row" ng-controller="homeCtrl">
    <div ui-alert title="Ops, aconteceu um problema!" message="error"></div>
    
    <div class="col-md-12">
        <input class="form-control" type="text" ng-model="searchCriteria" placeholder="O que você está buscando?" />
    </div>
    <!--{{message}}-->   
    
    <div class="col-md-4" ng-repeat="poster in posters | filter: searchCriteria">
        <h2>{{poster.Title | nameDefault}}</h2>
        <p>
            {{poster.Description | ellipsis: 100}}
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
       
    
        @* 
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        *@
</div>