﻿
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<ul>
    <li>@Html.ActionLink("Adicionar postagem", "Create", "Poster")</li>
    <li>@Html.ActionLink("Editar seus dados", "EditUser", "DataUser")</li>
    <li>@Html.ActionLink("Alterar password", "ChangePassword", "Account")</li>
    <li>@Html.ActionLink("Excluir conta", "Exclude", "Account")</li>
</ul>      

