﻿
@{
    ViewBag.Title = "Alert";
    Layout = "";
}

<div class="ui-alert">   
    <div class="ui-alert-title">
        {{topic}}
    </div>
    <div class="ui-alert-message">
        {{error}}
    </div>
</div>

