﻿@model BudPost.Models.Poster

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<br />

<h3>@TempData["MsgAlert"]</h3>



<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <label>Título</label>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)

        <label>Descrição</label>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
        <br />
        <button class="btn btn-primary">Postar</button>
        @Html.ActionLink("Cancelar", "Index", "Setting", new { area = "" }, new { @class = "btn btn-default" })
    }
</div>