﻿@model BudPost.Models.SettingLocation
@using BudPost.Util
@{
    ViewBag.Title = "AllLocation";
    SelectHelper selectList = new SelectHelper();
}

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->


<h2>AllLocation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <label>País</label>
    @Html.DropDownListFor(m => m.Country.CountryId, new SelectList(selectList.ListCountries(), "Value", "Text"), "Selecione um país", new { @class = "form-control selectCountry", @onchange = "LoadStates();LoadResetCityInput();" })
    @Html.ValidationMessageFor(m => m.Country.CountryId, "", new { @class = "text-danger" })

    <hr />

    <label>Estado</label>
    @Html.DropDownListFor(m => m.State.StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "StateId", "Name"), "Selecione um estado", new { @class = "form-control selectState", @onchange = "LoadCities();" })
    @Html.ValidationMessageFor(m => m.State.StateId, "", new { @class = "text-danger" })

    <hr />

    <label>Cidade</label>
    @Html.DropDownListFor(m => m.City.CityId, new SelectList(Enumerable.Empty<SelectListItem>(), "CityId", "Name"), "Selecione uma cidade", new { @class = "form-control selectCity" })
    @Html.ValidationMessageFor(m => m.City.CityId, "", new { @class = "text-danger" })
    
    <hr />
    <button class="btn btn-primary">Enviar</button>
    @Html.ActionLink("Cancelar", "Index", "Setting", new { area = "Admin" }, new { @class = "btn btn-default" })
}