﻿@model BudPost.Areas.Admin.Models.City
@using BudPost.Util
@{
    ViewBag.Title = "City";
    SelectHelper selectList = new SelectHelper();
}

<h2>City</h2>

<br />

<h3>@TempData["MsgAlert"]</h3>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <label>Nome</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
        
        <label>Estado</label>
        @Html.DropDownListFor(m => m.State_Id, new SelectList(selectList.ListStates(), "Value", "Text"), "Selecione um estado", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.State_Id)
        <br />
        <button class="btn btn-primary">Cadastrar</button>
        @Html.ActionLink("Cancelar", "Index", "Setting", new { area = "Admin" }, new { @class = "btn btn-default" })
    }
</div>