﻿@model BudPost.Areas.Admin.Models.Country
@{
    ViewBag.Title = "Index";
}
<h2>Cadastro de País</h2>

<br />

<h3>@TempData["MsgAlert"]</h3>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
                
        
        <label>Nome</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

        <label>Sigla</label>
        @Html.TextBoxFor(m => m.Initials, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Initials)

        <br />
        <button class="btn btn-primary">Cadastrar</button>
        @Html.ActionLink("Cancelar", "Index", "Setting", new { area = "Admin" }, new { @class = "btn btn-default" })
    }
</div>