﻿@model BudPost.Areas.Admin.Models.State
@using BudPost.Util
@{
    ViewBag.Title = "States";
    SelectHelper selectList = new SelectHelper();
}

<h2>States</h2>

<br />

<h3>@TempData["MsgAlert"]</h3>
<div>
    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <label>Nome</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

        <label>Sigla</label>
        @Html.TextBoxFor(m => m.Acronym, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Acronym)
        
        <label>País</label>
        @Html.DropDownListFor(m => m.Country_Id, new SelectList(selectList.ListCountries(), "Value", "Text"), "Selecione um país", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Country_Id)
        <br />
        <button class="btn btn-primary">Cadastrar</button>
        @Html.ActionLink("Cancelar", "Index", "Setting", new { area = "Admin" }, new { @class = "btn btn-default" })
    }
</div>